body{
    background-color: var(--Background1);
    color: var(--Text);
    transition: all 0.5s;
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
    font-family: Monospace;
}

.FooterContent{
    display: flex;
    justify-content: left;
    width: 50vw;
    padding-left: 25vw;
}

.FooterRow{
    width: 25%;
    height: 100%;
}

.headerQuote{
    width: calc(100% - 2.5vw);
    text-align: right;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.siteHeader{ 
    z-index: 10;
    position: fixed !important;
}

.logo{
    width: auto;
    height: 75vh;

    transition : filter 0.75s;
    filter: var(--LogoColor) drop-shadow(0 0 0.75rem var(--LogoGlow));
}

.noSelect { /* taken from Mozilla */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

.PageFooter{
    margin-top: 5vh;
    padding-top: 5vh;
    width: 100vw;
    height: 25vw;
    background-color: var(--Background3);
}

.smallLogo{
    width: auto;
    height: 15vh;

    transition : filter 0.75s;
    filter: var(--LogoColor) drop-shadow(0 0 0.75rem var(--LogoGlow));
}

button{
    border: none;
    display: inline-block;
    font-size: 16px;
    background-color: var(--Background2);
    color: var(--Text);
    cursor: pointer;
}

.themeButton{
    min-height: 2.5vw;
    min-width: 2.5vw;
    max-width: 2.5vw;
    max-height: 2.5vw;
    padding: 0;
    margin: 0;
    top:0%;
    bottom:0%;
    left:0%;
    right:0%;
}

.themeIcon{
    min-height: 2vw;
    min-width: 2vw;
    max-width: 2vw;
    max-height: 2vw;
    padding: 0;
    margin: 0;
    top:0%;
    bottom:0%;
    left:0%;
    right:0%;
}

.siteHeader{
    position: absolute;
    background-color: var(--Background3);
    width: 100vw;
    height: 2.5vw;
    max-height: 2.5vw;
    top:0px;
}

.headerPadding{
    width: 100vw;
    height: 3vw;
}

.link:link {
    background-color: var(--linkColor);
    text-decoration: underline;
}

.link:visited {
    background-color: var(--linkColorVisited);
    text-decoration: underline;
}

.link:hover {
    background-color: var(--linkColorHover);
    text-decoration: underline;
}

.link:active {
    background-color: var(--linkColorActive);
    text-decoration: underline;
}
