.darkTheme{
    --Background1: #1a1a1a;
    --Background2: #292929;
    --Background2: #373737;

    --Text: #f0f0f0;
}

.lightTheme{
    --Background1: #ffffff;
    --Background2: #cdcdcd;
    --Background2: #b4b4b4;

    --Text: #1a1a1a;
}

.aquaTheme{
    --Background1: #090535;
    --Background2: #070424;
    --Background2: #09041b;

    --Text: #479aff;
}

.pastelTheme{
    --Background1: #ffcafb;
    --Background2: #db9dd6;
    --Background2: #b277ac;

    --Text: #380033;
}
