.darkTheme{
    --Background1: #1a1a1a;
    --Background2: #373737;
    --Background3: #292929;

    --Text: #f0f0f0;

    --LogoGlow: rgb(255, 255, 255);
    --LogoColor: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(11deg) brightness(103%) contrast(102%);
}

.lightTheme{
    --Background1: #ffffff;
    --Background2: #b4b4b4;
    --Background3: #cdcdcd;

    --Text: #1a1a1a;

    --LogoGlow: rgba(255, 255, 255, 0);
    --LogoColor: brightness(0) saturate(100%);
}

.aquaTheme{
    --Background1: #090535;
    --Background2: #070424;
    --Background3: #09041b;

    --Text: #479aff;

    --LogoGlow: #479aff;
    --LogoColor: brightness(0) saturate(100%) invert(79%) sepia(64%) saturate(6114%) hue-rotate(191deg) brightness(100%) contrast(104%);
}

.pastelTheme{
    --Background1: #ffcafb;
    --Background2: #db9dd6;
    --Background3: #b277ac;

    --Text: #380033;

    --LogoGlow: rgba(255, 255, 255, 0);

    --LogoColor: brightness(0) saturate(100%) invert(8%) sepia(31%) saturate(7225%) hue-rotate(290deg) brightness(78%) contrast(110%);
}
